# These are sensitive so they live in another directory.
.ssh
./.config/zsh/tufts.sh

*.DS_Store
*.swp
*~
vim/doc
vim/view
vim/sessions
vim/bundle/*
~vim/bundle/vundle
.vim/plugged/*
.vim/plugged
.config/nvim/plugged
.vim/plugged/vim-devicons
.tmux/resurrect
