.DS_Store
.svn
.tissues
*~
*.swp
*.rbc

doc/tags
tags

.tmux
script/tmux
.config/iterm2
.config/packer/plugins/github.com/hashicorp/amazon/*
.config/zsh/credentials.sh
.config/zsh/scripts/_scripts-env
.config/jellyfin
nix/user_data.ec2.txt
nix/ec2/user_data.ec2.txt
