;; Examples:           https://github.com/yqrashawn/GokuRakuJoudo/blob/master/in-the-wild.md
;; Tutorial and Usage: https://github.com/yqrashawn/GokuRakuJoudo

;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

{ :profiles
	{:Default
    {
    :default true
		:sim     5    ;; simultaneous_threshold_milliseconds (def: 50)
									 ;; keys need to be pressed within this threshold to be considered simultaneous
		:delay   580   ;; to_delayed_action_delay_milliseconds (def: 500)
									 ;; basically it means time after which the key press is count delayed
		:alone   1000  ;; to_if_alone_timeout_milliseconds (def: 1000)
								   ;; hold for 995s and single tap registered; hold for 1005s and seen as modifier
		:held    600   ;; to_if_held_down_threshold_milliseconds (def: 500)
									 ;; key is fired twice when 500 ms is elapsed (otherwise seen as a hold command)
									 ;; 995 ms is considered as hold like "a", 1005 considered as we want
	  }
  }

	:templates {:open "open \"%s\""}

  :layers    {}

 	:simlayers {
		:f-mode {:key :f}
    :mac-mode {:key :m}
	}

  :simlayer-threshold 200

 	:main [
    {:des "caps_lock to f20" :rules [[:caps_lock :f20]]}
		;;{:des  "caps_lock to esc when pressed alone, to ctrl as modifier" :rules [[:##caps_lock :right_control nil {:alone :escape}]] }
		{:des   "hammerspoon window management" :rules [[[:semicolon :a] :!TCi]]}
		{:des "F-Mode"
		 :rules [:f-mode
						 [:u :escape]
						 [:i :page_up]
						 [:o :page_down]
						 [:h :left_arrow]
						 [:j :down_arrow]
						 [:k :up_arrow]
						 [:l :right_arrow]]}

		{:des "Mac Mode"
     :rules [:mac-mode
           ;;[:b :rewind]
           [:c :mission_control]
           ;;[:e [:!TOCspacebar]]
           [:p :play_or_pause]
           ;;[:n [:open "/System/Library/PreferencePanes/Network.prefPane"] ]
           [:comma :volume_down]
           [:period :volume_up]
           [:slash :fastforward]
           [:s [:!OCspacebar]]
           ;;[:v :launchpad]
           [:t :mute]
           [:w [:!Cm]]
           [:1 [:!Fq]]
           [:2 :display_brightness_decrement]
           [:3 :display_brightness_increment]
      ]
     }

		{:des "Hammer spoon Mode"
     :rules [:h-mode
           [:a [:!C9]] ;; app laucher
           ;;[:b [:!CSb]]       ;; battery info
           [:c [:!Oz]]        ;; hammerspoon console
           [:k [:!SCk]]       ;; switch keyboard input sources
           ;;[:i [:!TCi]]       ;; Alacritty via hammerspoon
           [:i [:!SCm]]       ;; minimize all windows
           [:l [:!CTq]]       ;; lock screen via hammerspoon
           [:o [:!C6]]        ;; start timer
           [:r [:!SCr]]       ;; reload config
           [:1 [:!CSu]]       ;; umount usb drives
           [:w [:!Cm]]        ;; window management
      ]
    }

		{:des "Test mode"
     :rules [:test-mode
           [:a [:!C9]] ;; app laucher
      ]
    }


	]
}
